*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
body{
    background-color: #b9bbb6;
}
.title{
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.gallery{
    display: block;
    margin: 0 auto;
}

/* applying styling to navbar */

nav{
    margin-top: 5rem;
    font-size: large;
    line-height: 2rem;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

nav ul{
    list-style: none;
    display: inline;
}

.section-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 3rem;
}
nav ul li a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: rgb(103, 29, 29);
    margin-right: 3rem;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 2px 2px,
                1px 2px 2px;
}

nav .active{
    color: rgb(91, 153, 177);
}

/* applying styling to main section */

main section{
    display: none;
}

section:target {
    margin: 5rem auto;
    width: 40%;
    display: block;
    text-align: center;
}

section h2{
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section p{
    margin-bottom: 2rem;
    font-family:cursive;
}

blockquote{
    font-family:monospace;
}

#sources ul, #why-virat ul{
    list-style: none;
    line-break: 2rem; 
}

#sources ul li, #why-virat ul li{
    font-family:cursive;
}
#sources ul a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(33, 28, 28)
}

/* A divider to divide main and footer sections  */

.division{
    border: 1px solid black;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

/* Appyling styling to footer section  */

footer{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 2rem;
}